<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maktoub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7EE622FE29CDAF3900500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE6230E29CDAF3B00500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EE6231829CDAF3B00500D8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
